@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #332a29;
    --cor-secundaria: #dbc5c3;
    --cor-tercearia: #cb9f9b;
    --cor-destaque:#c94572;
    --cor-hover:  #95695e;
    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;
    --tamanho-titulo: 2.25rem;
    --tamanho-texto: 1.5rem;
/*     
    --cor-primaria: #5800FF;
    --cor-secundaria: #72FFFF;
    --cor-destaque:#00D7FF;
    --cor-hover:  #0096FF; */
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    width: 100vw;
}

.cabecalho__menu {
    margin: 4% 0 0 18%;
    display: flex;
    gap: 5vw;
}

.cabecalho__menu__itens {
    color: var(--cor-destaque);
    font-weight: 600;
    font-size: var(--tamanho-texto);
    font-family: var(--fonte-texto); 
    text-decoration: none;
}

.apresentacao{
    margin: 4% 18%;
    display: flex;
    align-items:start;
    justify-content: space-between;
    gap: 5vh;
    width: 60vw;
}
.apresentacao__conteudo{
    width: 50%;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    align-items: center;
}

.apresentacao__links__subtitulo,
.apresentacao__conteudo__titulo{
    font-size: var(--tamanho-titulo);
    font-family: var(--fonte-titulo);
    width: 100%;
    font-weight: 500;
    color: var(--cor-tercearia);
}

.titulo-destaque{
    color: var(--cor-destaque);
}

.apresentacao__conteudo__texto{
    font-size: var(--tamanho-texto);
    font-family: var(--fonte-texto);
    width: 100%;
    text-align: justify;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 3vh;
}

.apresentacao__links__nav{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 1vh;
    border: 2.5px solid var(--cor-destaque);
    width: 90%;
    text-align: center;
    border-radius: 8px;
    font-size: var(--tamanho-texto);
    font-weight: 600;
    padding: 3vh 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-texto);
}

.apresentacao__links__nav img {
    height: var(--tamanho-texto);
    padding-top: 0.5%;
}

.apresentacao__links__nav:hover {
    background-color: var(--cor-tercearia);
    color: var(--cor-primaria);
    transition-delay: 100ms; 
}

.apresentacao__links__nav:active {
    color: var(--cor-secundaria);
    background-color: var(--cor-primaria);
}

.imagem {
    width: 22vw;
    align-self: baseline, left;
}

.rodape {
    padding: 3vh 0;
    color: var(--cor-secundaria);
    background-color: var(--cor-destaque);
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto);
}


@media (max-width: 1000px) {
    .cabecalho {
        padding: 3vh 0;
    }

    .cabecalho__menu {
        width: auto;
        display: flex;
        justify-content: space-evenly;
        margin: 5% 10%;
        margin-bottom: 0;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        justify-content: center;
        margin: 0 5vw 10vh 5vw;
        gap: 8vh;
    }

    .apresentacao__conteudo {
        display: flex;
        width: 80vw;
        gap: 5vh;
    }

    .imagem {
        width: 75vw;
        height:fit-content
    }
    
}